doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/styles.css")
        title Index page
    body
        h3 Examples
        input.menu-toggle#toggle(type="checkbox")
        label.menu_icon(for="toggle")
        .menu
            .menu_header
                i.menu_icon-home
                h4 Hello, I'm menu only css 
            .menu_list
                ul.menu_node-parent
                    each nodeID in [1, 2, 3, 4, 5]
                        if (nodeID != 2)
                            li
                                .menu_node-title
                                    i.menu_icon-alone
                                    span= 'Node ' + nodeID 
                        else 
                            li
                                .menu_node-title
                                    i.menu_icon-parent
                                    span= 'Parent Node ' + nodeID
                                input.menu-toggle_child#arrow(type='checkbox')
                                label.menu_arrow(for='arrow')
                                ul.menu_node-child
                                    each nodeID in [1, 2, 3, 4, 5]
                                        li
                                            .menu_node-title
                                                i.menu_icon-child
                                                span= 'Child Node ' + nodeID 
