.menu-toggle
    display: none;
    & ~ label 
        cursor: pointer;
    &:checked 
        & ~ .menu
            width: 5%;
        & ~ .menu .menu_header 
            padding-top: 30px;
            & > h4 
                display: none;
        & ~ .menu .menu_header h4 
            display: none;
        & ~ .menu_icon:before 
            content: "\e98f";
        & ~ .menu .menu_node-title span
            display: none;
        & ~ .menu .menu_icon
            &-alone:before 
                font-family: IcoMoon;
                content: "\e9d2";
            &-parent:before
                font-family: IcoMoon;
                content: "\e9d3";
        & ~ .menu .menu_node-title
            cursor: pointer;
            &:hover > span
                display: inline-block;
                position: absolute;
                z-index: 1;
                left: 4em;
                background: #6c6c6c;
                color: #fff;
                padding: 5px;
                margin-left: 9px;
                text-align: center;
                width: 120px;
                box-shadow: 0px 0px 1px 0 #000;
                &:before 
                    content: '';
                    border: 8px solid transparent;
                    border-right: 8px solid #6c6c6c;
                    position: absolute;
                    left: -15px;
                    top: 50%;
                    margin-top: -10px;
    &:not(checked)
        & ~ .menu_icon:before 
            content: "\e990";
    &_child
        display: none;
        & ~ label 
            cursor: pointer;
            &:after
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                content: '';
                border-bottom: 5px solid black;
                border-top: none;
        &:checked 
            & ~ label:after
                transform: rotate(180deg);
            & ~ .menu_node-child
                display: block;
        &:not(checked) 
            & ~ label:after
                transform: rotate(90deg);
            & ~ .menu_node-child
                display: none;
.menu 
    height: 400px;
    background-color: #f5f6f5;
    width: 20%;
    &_list  ul
        list-style: none;
        margin: 0;
        padding: 1em;
    &_icon
        font-family: IcoMoon;
        &-home:before
            font-family: IcoMoon;
            content: "\e900";
        &-child:before
            font-family: IcoMoon;
            content: "\e9da";
    &_header
        padding: 10px;
        & > h4
            display: inline-flex;
    &_arrow
        display: inline-grid;
        position: relative;
        transform: translateY(-50%);
    & i 
        font-style: normal;
    &_node-title
        display: inline-block;